@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.card-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px 20px 20px 20px;
  margin: 20px;
}

#aplikasi {
  width: 300px;
  margin: 0px auto;
}
